* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #10AC84;
    margin-bottom: 30px;
}

form {
    margin-bottom: 30px;
}

form input {
    max-width: 250px;
    width: 100%;
    padding: 8px 16px;
    color: #1DD1A1;
    border: 2px solid #1DD1A1;
    border-radius: 8px;
    margin-right: 20px;
}

form input:focus {
    outline: none;
}

form button {
    background-color: #10AC84;
    padding: 8px 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#border-style {
    border-bottom: 1px solid #1DD1A1;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

/* ul li { */
.tarefaItem {
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px dotted #000;
}